html, body {
	height: 100%;
}

ul {
	list-style-type: none;
}

a {
	color: black;
}

#sidemenu {
	background-color: #0080ff;
}

.valign-top {
	vertical-align: top;
}

.display-table {
	display: table;
	height: 100%;
}

.display-table-row {
	display: table-row;
	height: 100%;
}

.display-table-cell {
	display: table-cell;
	float: none;
	height: 100%;
}

#nav-header #searchbar {
	outline: none;
}

#nav-header ul li {
	display: block;
	margin: 10px;
	float: left;
}

#nav-header ul a {
	text-decoration: none;
}

#nav-header ul .label {
	position: absolute;
	margin-top: -25px;
	margin-left: 8px;
}